{
    "train_file" : "../data/train.txt",
    "test_file" : "../data/test.txt",
    "dev_file": "../data/dev.txt",


    "model" : "BiLTSM",
    "weights_vector_size": 100,

    "bow_init_method" : "pre_trianed",
    "bow_frequency_threshold": 10,


    "trained_model" : "model1.bin",
    "save_model_as" : "model1.bin",
    
    "epoch": 1000

}