# DATA PATHS
train_file: ../data/train.txt
test_file: ../data/test.txt
dev_file: ../data/dev.txt

# METHOD: BOW / BILSTM
method: bow

# RANDOM WEIGHTS DIMMENSION
weights_vector_size: 100

# MODEL: RANDOM / GLOVE
init_method: glove

# WORD FREQUENCY FOR BOW RANDOM INIT
bow_frequency_threshold: 15

# TOKENIZATION SETTING WORDS TO LOWERCASE
lowercase: true

# PRETRAINED EMBEDDINGS FREEZE / FINE TUNE
freeze: false

# MODEL LOCATION
trained_model: ../models/model2.bin
save_model_as: ../models/model2.bin

# FFNN HYPERPARAMETERS
maxepoch: 200
learningRate: 0.01
hidden_layer_sizes:
    - 300
    - 300

# Training data portion (Must be over 40%)
training_size: 1.0

# Temporary Train file
temp_train: ../data/temp_train.txt

