{
    "train_file" : "../data/train.txt",
    "test_file" : "../data/test.txt",
    "dev_file": "../data/dev.txt",


    "method" : "bow",
    "weights_vector_size": 100,

    "init_method" : "pre_trianed",
    "bow_frequency_threshold": 2,

    "lowercase": true,
    "freeze": true,

    "trained_model" : "model2.bin",
    "save_model_as" : "model2.bin",
    
    "maxepoch": 50,
    "learningRate" : 0.5,
    "hidden_layer_sizes" : [
        50, 50
    ]

}