{
    "path_train" : "../data/train.txt",
    "path_dev" : "../data/dev.txt",
    "path_test" : "../data/test.txt",
    "model" : "bow", 
    "path_model" : "../data/model.bow",
    "early_stopping":"50",
    "epoch": "10",
    "lowercase":"False",
    "path_pre_emb ": "../data/glove.txt",
    "word_embedding_dim ": "200",
    "batch_size ": "20",
    "lr_param":"0.0001",
    "path_eval_result": "../data/output.txt"
}