{
    <!-- Paths To Datasets And Evaluation -->
    "path_train" : "../data/train.txt",
    "path_dev" : "../data/dev.txt",
    "path_test" : "../data/test.txt",
    
    <!-- model -->
    "model" : "bow","bilstm", 
    "path_model" : "../data/model.bow",
    
    <!-- Early Stopping -->
    "early_stopping":"50",

    <!-- Model Setting -->
    "epoch": "10",
    "lowercase":"False",

    <!--  Using pre-trained Embeddings -->
    "path_pre_emb ": "../data/glove.txt",
     
    <!--  Network Structure -->
    "word_embedding_dim ": "200",
    "batch_size ": "20",

    <!-- Hyperparameters -->
    "lr_param":"0.0001",
    
    <!-- Evaluation -->
    "path_eval_result": "../data/output.txt"
}